@charset "UTF-8";

/* configurações vertical */

body{
    background-image: url(../imagens/lucas-portrait.png);
    background-position: bottom center;
    background-size: 65vh;
    background-color: #9C27B0;
}